html, body{
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 197, 177);
}

.form-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.form-input{
    display: flex;
    flex-direction: column;
}

#fill-form{
    margin: 5vh;
    min-width: 70vw;
    background-color: rgb(185, 185, 185);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.377);
    font-family: 'Poppins', sans-serif;
}

#fill-form input{
    margin: 10px 15px;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.596);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.596);
    font-family: 'Poppins', sans-serif;
}

#fill-form h2{
    text-align: center;
}

#fill-form label{
    margin-left: 15px;
    color: black;
    text-align: left;
}

#fill-form button{
    margin: 15px;
    padding: 10px;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    font-family: 'Poppins', sans-serif;
}

#fill-form button.add-button{
    border: 2px solid rgba(51, 255, 0, 0.479);
    background-color: rgba(51, 255, 0, 0.479);
}

#fill-form button.delete-button{
    border: 2px solid rgba(255, 0, 0, 0.479);
    background-color: rgba(255, 0, 0, 0.479);
}

#fill-form button:hover{
    opacity: 0.8;
}

#fill-form button:active{
    border: 2px solid black;
}

#fill-form input:focus{
    outline: none;
    border: 2px solid black;
    text-decoration: none;
}

.section{
    border-bottom: 1px solid black;
    text-align: center;
}

.section-unit{
    margin: 20px 5px;
    padding: 10px 0;
    border-radius: 20px;
    background-color: grey;
}

.form-header{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-family: 'Poppins', sans-serif;
}
.section{
    display: flex;
    flex-direction: column;
}

.skill.section-unit, .interest.section-unit{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.skill input, .interest input{
    width: 40%;
}

.buttons-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-area button, button.generate-pdf{
    margin: 10px;
    padding: 20px;
    min-width: 60vw;
    border: none;
    border-radius: 10px;
    white-space: nowrap;
    font-size: 20px;
}

.buttons-area button:hover, .generate-pdf:hover{
    opacity: 0.8;
}

.generate-pdf{
    margin: 0 auto;
    background-color: rgb(139, 0, 0);
    color: white;
}

.buttons-area .load-example{
    background-color: rgb(0, 0, 82);
    color: white;
}

.buttons-area .clear-all{
    background-color: black;
    color: white;
}

.generate-pdf::after{
    margin-left: 10px;
    content: '\f1c1';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}
.buttons-area .load-example::after{
    margin-left: 10px;
    content: '\f15c';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}

.buttons-area .load-example::after{
    margin-left: 10px;
    content: '\f15c';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}

.cv-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

#generated-cv{
    margin: 10px;
    width: 65vw;
    height: 112vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.377);
}

#generated-cv .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 5px;
    background-color: rgb(80, 80, 80);
}

#generated-cv .name{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}

#generated-cv .underline{
    margin-bottom: 5px;
    width: 100px;
    height: 1px;
    background-color: white;
}

#generated-cv .image-preview{
    width: 90%;
}

#generated-cv .title{
    color: white;
    font-weight: 200;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
}

#generated-cv .side-area{
    width: 35%;
}

#generated-cv .center-area{
    width: 70%;
}

#generated-cv .main-area{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 30px;
}

#generated-cv .cv-section{
    margin-top: 10px;
}

#generated-cv .cv-section-unit{
    position: relative;
    margin: 5px 0;
}

#generated-cv .cv-section-title{
    color: rgb(80, 80, 80);
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}

#generated-cv .cv-section-title-underline{
    margin-bottom: 5px;
    width: 50px;
    height: 2px;
    background-color: red;
}

.cv-section-data{
    color: rgb(97, 97, 97);
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
}

#generated-cv .cv-experience-position, #generated-cv .cv-education-facility{
    font-weight: 900;
}

#generated-cv .cv-experience-company{
    color: black;
    font-weight: 300;
}

#generated-cv .cv-experience-work-period{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    background-color: rgba(255, 0, 0, 0.226);
    color: rgb(80, 80, 80);
}

li, ul{
    margin-left: 15px;
    padding: 0;
}

ul{
    list-style: none;
}

ul li::before{
    display: inline-block;
    margin-left: -1em;
    width: 1em;
    color: red;
    content: '\2022';
    font-weight: bold;
}

.cv-contact-phone::before{
    margin-right: 5px;
    width: 10px;
    color: red;
    content: '\f095';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}

.cv-contact-email::before{
    margin-right: 5px;
    width: 100px;
    color: red;
    content: '\f0e0';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}

.cv-contact-address::before{
    margin-right: 5px;
    width: 100px;
    color: red;
    content: '\f3c5';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}

.cv-section-data.cv-contact-address, .cv-contact-email, .cv-contact-phone{
    font-size: 0.8em;
}

.change-lang{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 100vw;
}

.lang-button{
    padding: 2vh;
    width: 20vh;
    height: 10vh;
    border: none;
}

.lang-pol{
    background: url('../assets/pol.png');
    background-size: contain;
}

.lang-eng{
    margin-left: 10px;
    background: url('../assets/eng.png');
    background-size: contain;
}

@media print{
    #generated-cv{
        margin: 0 auto;
        padding: 0;
        width: 100vw;
        background-color: rgb(255, 255, 255);
        box-shadow: none;

        aspect-ratio: 1 / 1.40;
    }

    #generated-cv .name{
        margin: 0;
        padding: 0;
        color: white;
        text-align: center;
        font-size: 2em;
        font-family: 'Poppins', sans-serif;
    }

    #generated-cv .cv-section-title{
        color: rgb(80, 80, 80);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
    }

    #generated-cv .cv-section-data{
        color: rgb(97, 97, 97);
        font-size: 0.8em;
        font-family: 'Poppins', sans-serif;
    }

    .cv-section-data.cv-contact-address, .cv-contact-email, .cv-contact-phone{
        color: red;
        font-size: 0.5em;
    }
}
